@import "./theme.scss";

.footer {
    height: 60px;
    background-color: var(--footer-bg);
    color: var(--navbar-text);
    text-align: center;
    padding: 20px;
    max-width: 100vw;
}
