@import "./theme.scss";

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-primary);
    margin: 0;
    padding: 0;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

button {
    background-color: var(--button-bg);
    color: var(--button-text);
    padding: var(--button-padding);
    border: none;
    border-radius: var(--button-border-radius);
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: var(--button-hover);
}
