@import "./theme.scss";

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1500;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-medium);
    max-width: 95vw;
    max-height: 95vh;
    overflow-y: auto;
    position: relative;
    text-align: center;
}

$danger-color: red;
.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: var(--error-color);
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: var(--border-radius-small);
    transition: background 0.3s ease-in-out;

    &:hover {
        background: darken($danger-color, 10%);
    }
}

.modal-image {
    max-width: 100%;
    max-height: 80vh;
    border-radius: var(--border-radius-small);
}
